html,
body {
    height: 100%;
    background-color: #ffffff;
    color: #181009;
    }

    /* Wrapper for page content to push down footer */
    #wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
    }

    /* Set the fixed height of the footer here */
    #push,
    #footer {
        height: 60px;
        width: 100%;
        padding-top: 10px;
        bottom: 0;
    }

    /* Lastly, apply responsive CSS fixes as necessary */
    @media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
        bottom: 0;
    }
}

.btn.sharp {
  border-radius:0;
}

.wj-flexgrid {
    border-radius:0;
}

.wj-control {
    border-radius:0;
}

input,
textarea,
.form-control,
.input-group-addon,
.btn,
.panel,
.panel-footer,
.modal-content,
.nav {
    border-radius:0;
}

.modal input[type="text"],
.modal input[type="password"] {
    width: 100%;
}

.modal-header {
    background-color: #428bca;
    color: #ffffff;
}

.modal .modal-header > h4 {
  color: #ffffff;
}

.input-10 {
    width: 10%;
}

.input-20 {
    width: 20%;
}

.input-30 {
    width: 30%;
}

.input-40 {
    width: 40%;
}

.input-50 {
    width: 50%;
}

.input-60 {
    width: 60%;
}

.input-70 {
    width: 70%;
}

.input-80 {
    width: 80%;
}

.input-90 {
    width: 90%;
}

.input-100 {
    width: 100%;
}

.modal-header-del {
  border: 0;
  background-color: #d9534f;
  padding: 20px 20px 20px 20px;
}

.modal .modal-header-del > h4 {
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  margin: 0;
}

#itemHeader {
    margin-top: 5px;
    margin-bottom: 10px;
    padding : 0px;
    border-bottom: 1px solid floralwhite;
    box-shadow: 0px 1px 0px #ffffff;
}


div.contentFilter {
    padding: 0;
    margin: 0;
    height: 40%;
    width: 100%;
    color: #181009;
}

.content-header {
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    color: #181000;
}


.content-body {
    background: #F0F0E0;
    margin: 0% auto;
    margin-bottom: 1%;
    width: 100%;
    height: 100%;
    padding: 1%;
    color: #181000;
}

.content-body-table {
    background: #FFF;
    margin: 0% auto;
    margin-bottom: 1%;
    width: 100%;
    height: 100%;
    color: #181000;
}

.content-footer {
    width: 100%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

div.input-right {
    float: right;
}

div.col-sm-2 {
    padding-left: 10px;
}

#debit-credit-memo-add-page #formDebitCreditMemoAdd .col-sm-4{
    padding-left: 10px;
}

.btn.sharp {
    border-radius: 3px;
}

#contentBarCode .margin {
    padding-top: 1%;
    padding-bottom: 1%;
}

.grid {
    height: 100%;
    overflow: auto;
}


.pull-left {
    width: 100%;
}

.page-bar {
    height: 20%;
    width: 100%;
    padding-bottom: 4%;
}

.col-sm-12 {
    height: 100%;
}

.modal-header {
    background-color: #112540;
}

.modal-body {
    color: #181000;
}

.close {
    color: #ffffff;
}

