<section id="title" class="dark-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <ul class="breadcrumb pull-left">
                    <li>{{time}} - <a [routerLink]="['Profile']">{{profile}}</a></li>               
                </ul>          
            </div>
            <div class="col-sm-6 collapse navbar-collapse pull-right">
                <ul class="breadcrumb pull-right">
                    <li *ngIf="!login"><a [routerLink]="['Login']">Login</a></li>
                    <li *ngIf="login"><a [routerLink]="['Logout']">Logout</a></li>
                    <li><a [routerLink]="['Dashboard']">Dashboard</a></li>                  
                </ul>
            </div>
        </div>
    </div>
</section>

<router-outlet></router-outlet>
